<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>

<body>
    <h1>This is About page from {{name}}</h1>
    <h2>He is an {{profile.job}} and he is {{profile.age}} years old</h2>
    {% if user.is_authenticated %}
        <h2>welcome {{user.username}}</h2>
        <h3>your email is {{user.email}}</h3>
    {% else %}
        <h2>You are not logged in.</h2>
    {% endif %}
    <br>
    <hr>
    <ul>
        {% for x in people%}
        <li> {{x}} : {{x.name}} - {{x.age}}</li>
        {% endfor %}
    </ul>
</body>

</html>